{% extends 'layouts/base.html.twig' %}

{% block title 'View Form'%}

{% block body %}
<div class="container mt-5">
<div class="card text-center">
  <div class="card-header">
    Show Form
  </div>
  <div class="card-body">
    <h5 class="card-title">Forms:</h5>
    <p class="card-text">This form under the name of <strong> {{frm.name}} </strong> has <strong>{{frm.section.count}}</strong> sections.</p> 
    {% for srv in srvs %}
        <p class="card-text">{{srv.name}}
        <a href="{{ path('update_form', {id:srv.id}) }}" class="link-success"> Update</a>
        <a href="{{ path('delete_from_form', {id:srv.id}) }}" class="link-danger">Delete</a>
        </p>
    {% endfor %}
    <a href="{{ path('show_sections') }}" class="btn btn-primary">Add Sections</a>
    <a type="button" class="btn btn-warning" href="javascript:goBack(); "  >Back</a>
    {# href={{ path('app_home') }} #}
  </div>
  <div class="card-footer text-muted">
    Last updated : {{frm.updatedAt|ago}}
  </div>
</div>
</div>
<script type="text/javascript">
    function goBack() {
        window.history.back();
    }
</script>
{% endblock %}  