{% extends 'layouts/base.html.twig' %}

{% block title 'View Form'%}

{% block body %}
<div class="container mt-5">
<div class="card text-center">
  <div class="card-header">
    Show Form
  </div>
  <div class="card-body">
    <h5 class="card-title">Forms:</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> 
    {% for srv in srvs %}
        <p class="card-text">{{srv.name}}
        <a href="{{ path('update_form', {id:srv.id}) }}" class="link-success"> Update</a>
        <a href="{{ path('delete_from_form', {id:srv.id}) }}" class="link-danger">Delete</a>
        </p>
    {% endfor %}
    <a href="{{ path('show_surveys') }}" class="btn btn-primary">Add Surveys</a>
  </div>
  <div class="card-footer text-muted">
    Last updated : {{frm.updatedAt|ago}}
  </div>
</div>
</div>

{% endblock %}  