{% extends 'layouts/base.html.twig' %}

{% block title 'Create Form!' %}

{% block body %}
<style> 
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5;padding: 2px 6px; }
</style>
{% set url = path(app.request.attributes.get('_route')) %}
<div class="example-wrapper">
    <h1 class="text-center">Show All Sections ✅</h1>
<a class="btn btn-primary my-4" > Add section <strong>+</strong></a>
<div class="row row-cols-1 row-cols-md-2 g-2">
{% for section in pagination.items %}
    <div class="col">
        <div class="card h-100 border-primary mb-3">
            {# <img src="asset('/assets/images/images.png')" class="card-img-top" alt="..."> #}
            <div class="card-body">
            <h5 class="card-title text-primary text-center py-3 fs-2">{{section.name}}</h5>
            {% if section.description %}
                <p class="card-text pb-2">{{section.description}}.
                {# <p class="text-muted">This sections has <strong>{{section.question.count}}</strong> questions.</p> #}
            {% else %}
                <p class="card-text pb-2 text-muted">No description addeed for this section for the moment.                
            {% endif %}
                </p>
            <figcaption class="blockquote-footer" style="position:absolute;bottom:90px;">Number of questions:{{section.question.count}}</figcaption>

            </div>
            <div class="card-footer text-center bg-white ">
            <div class="btn-group text-center" role="group" aria-label="Basic mixed styles example">
            {% if section.form is same as null %}
            <a type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">+</a>
                <ul class="dropdown-menu">                
                    {% for form in frm %}
                        <li><a class="dropdown-item" href="{{ (path('insert_sec', {idd: form.id, id:section.id})) }}">{{form.name}} {{form.id}}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
                <a href="{{ path('view_section', {id: section.id}) }}" type="button" class="btn btn-primary ">View</a>
                <a href="{{ path('update_section', {id: section.id}) }}" type="button" class="btn btn-success ">Update</a>
                <a href="{{ path('delete_section', {id: section.id}) }}" onclick="return confirm('You sure you want to delete?')" type="button" class="btn btn-danger">Delete</a>
            </div>            
            </div>
            <div class="card-footer">
                <small class="text-muted border-primary">Last updated {{section.updatedAt|ago}}</small>
            </div>
        </div>
    </div>
{% endfor %}
</div>
<nav aria-label="Page navigation example">
<ul class="pagination justify-content-center my-5">
    {% if pagination.currentPageNumber is same as 1 %}
 <li class="page-item disabled">   
    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
</li>
    {% else %}
    <li class="page-item">
    <a class="page-link" href="{{url}}?page={{pagination.currentPageNumber - 1}}">Previous</a>
    </li>
    <li class="page-item">
        <a class="page-link" href="{{url}}?page={{pagination.currentPageNumber - 1}}">{{pagination.currentPageNumber - 1}}</a>
    </li>
    {% endif %}
    
    <li class="page-item active">
        <a class="page-link" href="{{url}}?page={{pagination.currentPageNumber}}">{{pagination.currentPageNumber }}</a>
    </li>
    {% if pagination.currentPageNumber is same as pagination.pageCount %}
    <li class="page-item disabled">
        <a class="page-link" class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
    </li>
    {% else %}
    <li class="page-item">
        <a class="page-link" href="{{url}}?page={{pagination.currentPageNumber + 1}}">{{pagination.currentPageNumber + 1}}</a>
    </li>
    <li class="page-item"><a class="page-link" href="{{url}}?page={{pagination.currentPageNumber + 1}}">Next</a></li>
    {% endif %}
    </ul>
</nav>
{# {{dump(path(app.request.attributes.get('_route')))}} #}
{# {{include('layouts/partials/_pagination.html.twig')}} #}
</div>
{% endblock %}