{% extends 'layouts/base.html.twig' %}

{% block title 'Show Section'%}

{% block body %}
<div class="container mt-5">
<div class="card text-center">
  <div class="card-header">
    Show section
  </div>
  <div class="card-body">
    <h5 class="card-title">Questions:</h5>
    <p class="card-text">This section under the name of <strong> {{sections.name}} </strong> has <strong>{{sections.question.count}}</strong> questions.</p>
    {% for qst in qsts %}
        <p class="card-text">{{qst.description}} <a href="{{ path('update_qst', {id:qst.id}) }}" class="link-success"> Update</a> <a href="{{ path('delete_from_form', {id:qst.id}) }}" class="link-danger">Delete</a></p>
    {% endfor %}
    <a href="{{ path('orphan_qst') }}" class="btn btn-primary">Add questions</a>
    <a type="button" class="btn btn-warning" href="javascript:goBack(); ">Back</a>
  </div>
  <div class="card-footer text-muted">
    Last updated : {{sections.updatedAt|ago}}
  </div>
</div>
</div>
<script type="text/javascript">
    function goBack() {
        window.history.back();
    }
</script>
    {# <button type="button" class="btn btn-primary" id="liveToastBtn">Show live toast</button>
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
  <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
    <img height="200px" width="200px" src="https://upload.wikimedia.org/wikipedia/commons/f/f9/Phoenicopterus_ruber_in_S%C3%A3o_Paulo_Zoo.jpg" class="rounded mr-2" alt="...">
      <strong class="me-auto">Bootstrap</strong>
      <small class="text-muted">11 mins ago</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
    <div class="toast-body">
      Hello, world! This is a toast message.
    </div>
  </div>
</div>
<script>
var toastTrigger = document.getElementById('liveToastBtn')
var toastLiveExample = document.getElementById('liveToast')
if (toastTrigger) {
  toastTrigger.addEventListener('click', function () {
    var toast = new bootstrap.Toast(toastLiveExample)

    toast.show()
  })
}
</script> #}
{% endblock %}  