 {% form_theme form 'bootstrap_5_layout.html.twig' %}
 {{form_start(form)}}
    {{ form_widget(form)}}
    <div class="text-center">
    <input class="btn btn-primary btn-block w-64" type="submit" value=" {{submitBtn|default('Update')}} " formnovalidate >
    <a type="button" class="btn btn-warning" href="javascript:goBack(); "  >Cancel</a>    </div>
    {# href={{ path('app_home') }} #}
    <script type="text/javascript">
    function goBack() {
        window.history.back();
    }
</script>
{{form_end(form)}}