<div class="sidebar">
    <button id="button" class="navbar-toggler bg-light navbar-light" onclick="change(); hide(); toogle();" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"  aria-label="Toggle navigation" id="sidebarCollapse">
        <i class="bi bi-chevron-left"></i>
    </button>
        <div class="col-auto col-md-3 col-xl-12 px-sm-4 px-0 pt-4 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white" style="height:93.2vh" >
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Menu</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="{{ path('app_home') }}" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="span" class="ms-1 d-none d-sm-inline">Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="#submenu10" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-file-text"></i> <span class="span" class="ms-1 d-none d-sm-inline">Form</span></a>
                        <ul class="collapse nav flex-column ms-1" id="submenu10" data-bs-parent="#menu">
                            <li class="w-150">
                                <a href="{{ path('add_form') }}" class="nav-link px-0"><i class="fs-8 bi-file-earmark-plus"></i><span class="span" class="d-none d-sm-inline">New</span> </a>
                            </li>
                            <li>
                                <a href="{{ path('show_forms') }}" class="nav-link px-0"><i class="fs-8 bi-eye"></i><span class="span" class="d-none d-sm-inline">Show</span> </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-pencil-square"></i> <span class="span" class="ms-1 d-none d-sm-inline">Section</span></a>
                        <ul class="collapse nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                            <li class="w-150">
                                <a href="{{ path('add_section') }}" class="nav-link px-0"><i class="fs-8 bi-file-earmark-plus"></i><span class="span" class="d-none d-sm-inline">New</span> </a>
                            </li>
                            <li>
                                <a href="{{ path('show_sections') }}" class="nav-link px-0"><i class="fs-8 bi-eye"></i><span class="span" class="d-none d-sm-inline">Show</span> </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#submenu11" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-question-square"></i> <span class="span" class="ms-1 d-none d-sm-inline">Questions</span></a>
                        <ul class="collapse nav flex-column ms-1" id="submenu11" data-bs-parent="#menu">
                            <li class="w-150">
                                <a href="{{ path('add_qst') }}" class="nav-link px-0"><i class="fs-8 bi-plus-square"></i> <span class="span" class="d-none d-sm-inline">New</span> </a>
                            </li>
                            <li>
                                <a href="{{ path('app_home') }}" class="nav-link px-0"><i class="fs-8 bi-eye"></i> <span class="span" class="d-none d-sm-inline">Show</span> </a>
                            </li>
                            <li>
                                <a href="{{ path('app_check') }}" class="nav-link px-0"><i class="fs-6 bi-card-checklist"></i> <span class="span" class="d-none d-sm-inline">Uncheked</span></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-table"></i> <span class="span" class="ms-1 d-none d-sm-inline">Answers</span></a>
                    </li>
                    <li>
                        <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                            <i class="fs-4 bi-bootstrap"></i> <span class="span" class="ms-1 d-none d-sm-inline">Bootstrap</span></a>
                        <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0"> <span  class="d-none d-sm-inline">Item</span> 1</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span  class="d-none d-sm-inline">Item</span> 2</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-grid"></i> <span class="span" class="ms-1 d-none d-sm-inline">Products</span> </a>
                            <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0"> <span  class="d-none d-sm-inline">Product</span> 1</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span  class="d-none d-sm-inline">Product</span> 2</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span  class="d-none d-sm-inline">Product</span> 3</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 4</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-people"></i> <span class="span"><span class="span ms-1 d-none d-sm-inline">Customers</span> </span></a>
                    </li>
                </ul>
                <hr>
                {% if app.user %}
                <div class="dropdown pb-4" >
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="" width="30" height="30" class="rounded-circle">
                        <span class="d-none d-sm-inline mx-1">loser</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                        <li><a class="dropdown-item" href="#">View Profile</a></li>
                        <li><a class="dropdown-item" href="#">Agency's Policy</a></li>
                        <li><a class="dropdown-item" href="#">Make a complaint</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{{ path('app_logout') }}">Sign out</a></li>
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>

        </div>
<script>
function change () {
    const mainContent = document.querySelector('.main-content');
    const sidebar = document.querySelector('.sidebar');
  sidebar.classList.toggle('sidebar_small');
  mainContent.classList.toggle('main-content_large');
}
function hide(){
    var appBanners = document.getElementsByClassName('span');
    for (var i = 0; i < appBanners.length; i ++) {
        appBanners[i].classList.toggle('span_toggle');
    }
}

function toogle(){
    $(".bi").toggleClass("bi bi-chevron-left bi bi-chevron-right");

}
</script>