{% extends 'layouts/base.html.twig' %}

{% block title 'Show Clients!' %}

{% block body %}
<style> 
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5;padding: 2px 6px; }
</style>
<div class="container" style="margin: auto 0">
<table class="table table-bordered border-primary text-center" style="max-width:1000px; margin:100px auto">
{# <tr class="bg-primary text-white"> #}
<tr>
<th>ID</h>
<th>First Name </th>
<th>Last Name </th>
<th>Email </th>
<th>Form Answerd </th>
<th>Role </th>
<th>Remark </th>
<th>Set Admin </th>

{# {{ dump(clients) }} #}
</tr>
{% for client in pagination %}
<tr>
    <td>{{ client.id}}</td>
    <td>{{ client.firstName}}</td>
    <td>{{ client.lastName}}</td>
    <td>{{ client.email}}</td>
    <td>
    {% if(client.answered is same as null) %}
        <a type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Send Notifications</a>
            <ul class="dropdown-menu">
            
                {% for form in forms %}
                    <li><a class="dropdown-item" href="{{ (path('get_notif', {idd: client.id, id:form.id})) }}">{{form.name}}</a></li>
                {% endfor %}
            </ul>
    {% elseif client.answered is same as true %}
        Yes
    {% endif %}
    </td>
    <td>{{ client.roles[0]}}</td>
    {% if client.remark is not same as null %}
    <td>{{ client.remark.description}}</td>
        {% else %}
    <td>No remark</td>
    {% endif %}
    <td><a href="{{ path('set_admin', {id:client.id}) }}" class="btn btn-primary">Set admin</a></td>
</tr>
{% endfor %}
</table>
{{include('layouts/partials/_pagination.html.twig')}}

{% endblock %}