{% extends 'layouts/base.html.twig' %}

{% block title %}Rak Section!{% endblock %}

{% block body %}
<style> 
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
{% set url = path(app.request.attributes.get('_route')) %}
<div class="example-wrapper">
    <h2>List of valid questions</h2>
    <ul>
    {% for qst in pagination.items %}
        {% if qst.valid %}
            <div style="display:flex; flex-wrap:wrap;font-weight:bold; font-size:20px">
            <li style="list-style: none;width:400px;"><textarea class="form-control bg-white my-2 shadow" disabled>{{ qst.description }}</textarea></li>
            </li>
        </div>
        
        {% if qst.section is same as null %}
        {% if is_granted('ROLE_ADMIN') %}
            <div class="btn-group text-center" role="group" aria-label="Basic mixed styles example">
                <a type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Add To</a>
                <ul class="dropdown-menu">
                
                    {% for section in sections %}
                        <li><a class="dropdown-item" href="{{ (path('insert_qst', {idd: section.id, id:qst.id})) }}">{{section.name}}</a></li>
                    {% endfor %}
                </ul>
                <a type="button" class="btn btn-success" href="{{ path('update_qst', {id: qst.id}) }}">Update</a>
                <a type="button" class="btn btn-danger" href="{{ path('delete_qst', {id: qst.id}) }}" onclick="return confirm('You sure you want to delete?')">Delete</a>{% endif %}
                <a type="button" class="btn btn-info" data-bs-container="body" title="Info" data-bs-placement="right" data-bs-trigger="hover focus" data-bs-toggle="popover" data-bs-content="Submitted : {{qst.createdAt|date}}  Type : {{qst.type.name}}
                {% if qst.section is not same as null %}
            In section: {{qst.section.name}}
            {% endif %}">Info</a>
            </div>
        {% else %}
            <div class="btn-group text-center" role="group" aria-label="Basic mixed styles example">
        {% if is_granted('ROLE_ADMIN') %}
                <a type="button" class="btn btn-success" href="{{ path('update_qst', {id: qst.id}) }}">Update</a>
                <a type="button" class="btn btn-danger" href="{{ path('delete_qst', {id: qst.id}) }}" onclick="return confirm('You sure you want to delete?')">Delete</a>{% endif %}
                
                <a type="button" class="btn btn-info" data-bs-container="body" title="Info" data-bs-placement="right" data-bs-trigger="hover focus" data-bs-toggle="popover" data-bs-content=" {% if qst.section is not same as null %}
            In section: {{qst.section.name}}
            {% endif %} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Submitted : {{qst.createdAt|date}}  Type : {{qst.type.name}} ">Info</a>
            </div>
        {% endif %}
        {% endif %}
    {% endfor %}
    </ul>
    <nav aria-label="Page navigation example">
<ul class="pagination justify-content-center my-5">
    {% if pagination.currentPageNumber is same as 1 %}
 <li class="page-item disabled">   
    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
</li>
    {% else %}
    <li class="page-item">
    <a class="page-link" href="{{url}}?page={{pagination.currentPageNumber - 1}}">Previous</a>
    </li>
    <li class="page-item">
        <a class="page-link" href="{{url}}?page={{pagination.currentPageNumber - 1}}">{{pagination.currentPageNumber - 1}}</a>
    </li>
    {% endif %}
    
    <li class="page-item active">
        <a class="page-link" href="{{url}}?page={{pagination.currentPageNumber}}">{{pagination.currentPageNumber }}</a>
    </li>
    {% if pagination.currentPageNumber is same as pagination.pageCount %}
    <li class="page-item disabled">
        <a class="page-link" class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
    </li>
    {% else %}
    <li class="page-item">
        <a class="page-link" href="{{url}}?page={{pagination.currentPageNumber + 1}}">{{pagination.currentPageNumber + 1}}</a>
    </li>
    <li class="page-item"><a class="page-link" href="{{url}}?page={{pagination.currentPageNumber + 1}}">Next</a></li>
    {% endif %}
    </ul>
</nav>
    {# {{include('layouts/partials/_pagination.html.twig')}} #}
</div>
<script>var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
  return new bootstrap.Popover(popoverTriggerEl)
})</script>
{% endblock %}
