{% extends 'layouts/base.html.twig' %}

{% block title %}Rak Section!{% endblock %}

{% block body %}
<style> 
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
{% set url = path(app.request.attributes.get('_route')) %}
<div class="example-wrapper">
    <h2>List of questions without sections</h2>
    <ul>
    {% set a = 2 %}
    {# {{dump(pagination.items)}} #}
    {% for qst in pagination.items %}
        {% if qst.valid %}
            {% set a = 1 %}
            <div style="display:flex; flex-wrap:wrap;font-weight:bold; font-size:20px">
                <li style="list-style: none;width:400px;"><textarea class="form-control bg-white my-2 shadow" disabled>{{ qst.description }}</textarea></li>
            </div>
            {% if qst.section is same as null %}
                {# {% if is_granted('ROLE_ADMIN') %} #}
                    <div class="btn-group text-center" role="group" aria-label="Basic mixed styles example">
                        <a type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Add To</a>
                        <ul class="dropdown-menu">
                        
                            {% for section in sections %}
                                <li><a class="dropdown-item" href="{{ (path('insert_qst', {idd: section.id, id:qst.id})) }}">{{section.name}}</a></li>
                            {% endfor %}
                        </ul>
                        <a type="button" class="btn btn-outline-success" href="{{ path('update_qst', {id: qst.id}) }}">Update</a>
                        <a type="button" class="btn btn-outline-danger" href="{{ path('delete_qst', {id: qst.id}) }}" onclick="return confirm('You sure you want to delete?')">Delete</a>
                {# {% endif %} #}
                <a type="button" class="btn btn-outline-info" data-bs-container="body" title="Info" data-bs-placement="right" data-bs-trigger="hover focus" data-bs-toggle="popover"
                data-bs-content="Submitted : {{qst.createdAt|date}}  Type : {{qst.type.name}}
                {% if qst.section is not same as null %}
                    In section: {{qst.section.name}}
                {% endif %}">Info</a>
            </div>
            {% endif %}
        {% else %}
            {% set a = 0 %}
        {% endif %}
    {% endfor %}
    {% if pagination.items is not same as null %}
        {% if a is same as 0 %}
            <p>All available question has there own sections</p>
            <a href="{{ path('add_qst') }}" class="btn btn-primary">Add questions</a>
            <a type="button" class="btn btn-warning" href="javascript:goBack(); ">Back</a>
            {# {% endif %} #}
        {% endif %}
    {% endif %}
    </ul>
    {{include('layouts/partials/_pagination.html.twig')}}
</div>
<script>var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
  return new bootstrap.Popover(popoverTriggerEl)
})
    function goBack() {
        window.history.back();
    }
</script>
{% endblock %}
