{% extends "layouts/base.html.twig" %}
{% block body %}
<ul style="margin-top:200px;">

{% for form in pagination.items %}
{# <li>{{form.name}}</li> #}
<li>{{form.description}}</li>
    
{% endfor %}
</ul>
{# {{dump(pagination.pageCount )}} #}
<nav aria-label="Page navigation example">
<ul class="pagination justify-content-center">
    {% if pagination.currentPageNumber is same as 1 %}
 <li class="page-item disabled">   
    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
</li>
    {% else %}
    <li class="page-item">
    <a class="page-link" href="/admin/test?page={{pagination.currentPageNumber - 1}}">Previous</a>
    </li>
    <li class="page-item">
        <a class="page-link" href="/admin/test?page={{pagination.currentPageNumber - 1}}">{{pagination.currentPageNumber - 1}}</a>
    </li>
    {% endif %}
    
    <li class="page-item active">
        <a class="page-link" href="/admin/test?page={{pagination.currentPageNumber}}">{{pagination.currentPageNumber }}</a>
    </li>
    {% if pagination.currentPageNumber is same as pagination.pageCount %}
    <li class="page-item disabled">
        <a class="page-link" class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
    </li>
    {% else %}
    <li class="page-item">
        <a class="page-link" href="/admin/test?page={{pagination.currentPageNumber + 1}}">{{pagination.currentPageNumber + 1}}</a>
    </li>
    <li class="page-item"><a class="page-link" href="/admin/test?page={{pagination.currentPageNumber + 1}}">Next</a></li>
    {% endif %}
    </ul>
</nav>
{# {{knp_pagination_render(pagination)}} #}
{% endblock %}